/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

.dots1 {
  width: 20px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #888 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: d1 1s steps(4) infinite;
  margin: 0 auto;
}
@keyframes d1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}

* {
  box-sizing: border-box;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
