.row {
  display: grid;
  grid-template-columns: 5% 20% 15% 5% 15% 15% 15% 5%;
  align-items: center;
  padding: 1.6rem 1rem;
  background: white;
  border-radius: 12px;
  transition: all 0.2s ease;
  height: 8rem;
  border: 1px solid #dee2e6;
}

.row:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.rank {
  text-align: center;
  color: #999;
  font-weight: 600;
}

.crypto {
  text-align: left;
  font-weight: 600;
}

.price,
.marketCap,
.volume,
.dailyChange,
.supply {
  text-align: center;
}

/* <= 85rem */
@media (max-width: 85rem) {
  .row {
    grid-template-columns: 5% 25% 15% 5% 20% 20% 10%;
  }
  .supply {
    display: none;
  }
}

/* <= 60rem */
@media (max-width: 60rem) {
  .row {
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
  }

  .dailyChange,
  .supply {
    display: none;
  }
}

/* <= 44rem */
@media (max-width: 50rem) {
  .row {
    grid-template-columns: 10% 45% 35% 10%;
    padding: 1.2rem 0.8rem;
    height: auto;
    min-height: 6.5rem;
  }

  .marketCap,
  .volume,
  .dailyChange,
  .supply {
    display: none;
  }
}

.asset {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.assetIcon {
  width: 2rem;
}

.assetName {
  letter-spacing: 0.5px;
}

.positive {
  color: #51cf66;
}
.negative {
  color: #ff6b6b;
}
