main {
  padding-top: 10rem;
}
.market {
  display: flex;
  flex-direction: column;
  gap: 12px; /* REAL spacing between rows */
  font-size: 1.4rem;
  font-weight: 500;
}

.row {
  display: grid;
  grid-template-columns: 5% 20% 15% 5% 15% 15% 15% 5%;
  align-items: center;
  padding: 1.6rem 1rem;
  background: white;
  border-radius: 12px;
  transition: all 0.2s ease;
  height: 8rem;
  border: 1px solid rgba(233, 233, 233, 0.534);
}

.row:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.header {
  background: transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
  height: 6rem;
  border: none;
}

.header:hover {
  background-color: white;
  cursor: default;
}

.rank {
  text-align: center;
  color: #999;
  font-weight: 600;
}

.crypto {
  text-align: left;
  font-weight: 600;
}

.price,
.marketCap,
.volume,
.dailyChange,
.supply {
  text-align: center;
}
.asset {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.assetIcon {
  width: 2rem;
}

.assetName {
  letter-spacing: 0.5px;
}

.container {
  display: flex;
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
}

/* State */
.positive {
  color: #51cf66;
}
.negative {
  color: #ff6b6b;
}
