.dashboard {
  display: flex;
  gap: 6rem;
  height: 80vh;
}

.user {
  width: 100%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  /* margin-right: 10rem;
  margin-left: 10rem; */
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview span {
  font-size: 2.4rem;
  font-weight: 800;
  color: #495057;
}

.overview h3 {
  font-size: 5.6rem;
  color: #212529;
}

.btn__add__transaction {
  height: 3.5rem;
  margin-top: 1.5rem;
  width: fit-content;
  color: #212529;
  border: none;
  border: 1px solid #888;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
}

.btn__add__transaction:hover {
  cursor: pointer;
  transition: all 0.3s ease;
}
