.row {
  display: grid;
  grid-template-columns: 5% 20% 15% 5% 15% 15% 15% 5%;
  align-items: center;
  padding: 1.6rem 1rem;
  background: white;
  transition: all 0.2s ease;
  height: 8rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.row:hover {
  background: #f8f9fa;
  cursor: pointer;
}

.rank {
  text-align: center;
  color: #999;
  font-weight: 600;
}

.crypto {
  text-align: left;
  font-weight: 600;
}

.price,
.marketCap,
.volume,
.dailyChange,
.supply {
  text-align: center;
}
.asset {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.assetIcon {
  width: 2rem;
}

.assetName {
  letter-spacing: 0.5px;
}

/* State */
.positive {
  color: #51cf66;
}
.negative {
  color: #ff6b6b;
}
